In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\madhu\appdata\local\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\madhu\appdata\local\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\madhu\appdata\local\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\madhu\appdata\local\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\madhu\appdata\local\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\madhu\appdata\local\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
import numpy as np
import pandas as pd

labels = ['a', 'b', 'c']
my_data = [10, 20, 30]
arr = np.array(my_data)
d = {'a':10, 'b':20, 'c':30}

print("Labels: ", labels)
print("My data: ", my_data)
print("Array: ",arr)
print("Dictionary: ", d)

Labels:  ['a', 'b', 'c']
My data:  [10, 20, 30]
Array:  [10 20 30]
Dictionary:  {'a': 10, 'b': 20, 'c': 30}

In [3]:
pd.Series(data = my_data) #output looks very similar to NumPy array

0    10
1    20
2    30
dtype: int64

In [4]:
pd.Series(data = my_data, index=labels) #Note the extra information about index

a    10
b    20
c    30
dtype: int64

In [5]:
#inputs are in order of the expected parameters (not explicitly named), NumPy array is used for data
pd.Series(arr, labels)

a    10
b    20
c    30
dtype: int32

In [6]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

what type of values can Pandas Series hold?

In [7]:
print("\n Holding numerical data \n",'-'*25,sep=' ')
print(pd.Series(arr))
print("\n Holding text labels \n",'-'*20, sep=' ')
print(pd.Series(labels))
print("\n Holding functions \n",'-'*20, sep=' ')
print(pd.Series(data = [sum,print,len]))
print("\n Holding objects from a dictionary \n",'-'*40, sep=' ')
print(pd.Series(data=[d.keys, d.items, d.values]))

 Holding numerical data
 -------------------------
0    10
1    20
2    30
dtype: int32

 Holding text labels
 --------------------
0    a
1    b
2    c
dtype: object

 Holding functions
 --------------------
0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

 Holding objects from a dictionary
 ----------------------------------------
0    <built-in method keys of dict object at 0x0000...
1    <built-in method items of dict object at 0x000...
2    <built-in method values of dict object at 0x00...
dtype: object

indexing and slicing

In [10]:
ser1 = pd.Series([1,2,3,4],['CA','OR','CO','AZ'])
ser2 = pd.Series([1,2,5,4],['CA','OR','NV','AZ'])

print("\n Indexing by name of the item/object (string identifier)\n",'-'*56,sep=' ')
print("Value for CA in ser1:", ser1['CA'])
print("Value for AZ in ser1:", ser1['AZ'])
print("Value for NV in ser2:", ser2['NV'])

print("\n Indexing by number (positional value in the series)\n",'-'*52, sep=' ')
print("Value for CA in ser1:", ser1[0])
print("Value for AZ in ser1:", ser1[3])
print("Value for NV in ser2:", ser2[2])

print("\n Indexing by a range\n",'-'*25, sep=' ')
print("Value for OR, CO and AZ in ser1:\n", ser1[1:4], sep=' ')

 Indexing by name of the item/object (string identifier)
 --------------------------------------------------------
Value for CA in ser1: 1
Value for AZ in ser1: 4
Value for NV in ser2: 5

 Indexing by number (positional value in the series)
 ----------------------------------------------------
Value for CA in ser1: 1
Value for AZ in ser1: 4
Value for NV in ser2: 5

 Indexing by a range
 -------------------------
Value for OR, CO and AZ in ser1:
 OR    2
CO    3
AZ    4
dtype: int64

C:\Users\madhu\AppData\Local\Temp\ipykernel_2200\665624046.py:10: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print("Value for CA in ser1:", ser1[0])
C:\Users\madhu\AppData\Local\Temp\ipykernel_2200\665624046.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print("Value for AZ in ser1:", ser1[3])
C:\Users\madhu\AppData\Local\Temp\ipykernel_2200\665624046.py:12: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print("Value for NV in ser2:", ser2[2])

Adding/Merging two series with common indices

In [12]:
ser1 = pd.Series([1,2,3,4],['CA','OR','CO','AZ'])
ser2 = pd.Series([1,2,5,4],['CA','OR','NV','AZ'])
ser3  = ser1+ser2

print("\n After adding the two series, the result looks like this..\n",'-'*59,sep=' ')
print(ser3)
print("\n Python tries to add values where it finds common index name, and puts Naan where indices are missing \n")

print("\n The idea works even for multiplication..\n",'-'*43,sep=' ')
print(ser1*ser2)

print("\n Or even for combination of mathematical operations! \n", '-'*53, sep=' ')
print(np.exp(ser1)+np.log10(ser2))

 After adding the two series, the result looks like this..
 -----------------------------------------------------------
AZ    8.0
CA    2.0
CO    NaN
NV    NaN
OR    4.0
dtype: float64

 Python tries to add values where it finds common index name, and puts Naan where indices are missing


 The idea works even for multiplication..
 -------------------------------------------
AZ    16.0
CA     1.0
CO     NaN
NV     NaN
OR     4.0
dtype: float64

 Or even for combination of mathematical operations!
 -----------------------------------------------------
AZ    55.200210
CA     2.718282
CO          NaN
NV          NaN
OR     7.690086
dtype: float64

Creating and accessing DataFrame

In [15]:
import numpy as np
import pandas as pd

np.random.seed(101)
matrix_data = np.random.random((5, 4))
row_labels = ['A', 'B', 'C', 'D', 'E']
column_headings = ['W', 'X', 'Y', 'Z']

df = pd.DataFrame(data=matrix_data, index=row_labels, columns=column_headings)
print("\n The data frame looks like \n", '-'*45, sep=' ')
print(df)

 The data frame looks like
 ---------------------------------------------
          W         X         Y         Z
A  0.516399  0.570668  0.028474  0.171522
B  0.685277  0.833897  0.306966  0.893613
C  0.721544  0.189939  0.554228  0.352132
D  0.181892  0.785602  0.965483  0.232354
E  0.083561  0.603548  0.728993  0.276239

Indexing and Slicing

In [16]:
print("\n The 'X' column \n", '-'*25, sep=' ')
print(df['X'])
print("\n Type of the column: ", type(df['X']), sep=' ')
print("\n The 'X' and 'Z' columns indexed by passing a list \n",'-'*55, sep=' ')
print(df[['X', 'Z']])
print("\n Type of the pair of columns: ", type(df[['X','Z']]), sep=' ')
print("\n So, for more than one column, the object turns into a DataFrame")

 The 'X' column
 -------------------------
A    0.570668
B    0.833897
C    0.189939
D    0.785602
E    0.603548
Name: X, dtype: float64

 Type of the column:  <class 'pandas.core.series.Series'>

 The 'X' and 'Z' columns indexed by passing a list
 -------------------------------------------------------
          X         Z
A  0.570668  0.171522
B  0.833897  0.893613
C  0.189939  0.352132
D  0.785602  0.232354
E  0.603548  0.276239

 Type of the pair of columns:  <class 'pandas.core.frame.DataFrame'>

 So, for more than one column, the object turns into a DataFrame

Creating and deleting a (new) column (or row)

In [18]:
import numpy as np
import pandas as pd

np.random.seed(101)
matrix_data = np.random.random((5, 4))
row_labels = ['A', 'B', 'C', 'D', 'E']
column_headings = ['W', 'X', 'Y', 'Z']

df = pd.DataFrame(data=matrix_data, index=row_labels, columns=column_headings)

print("\n The data frame looks like \n", '-'*45, sep=' ')
print(df)

print("\n The 'X' column \n", '-'*25, sep=' ')
print(df['X'])
print("\n Type of the column: ", type(df['X']), sep=' ')
print("\n The 'X' and 'Z' columns indexed by passing a list \n",'-'*55, sep=' ')
print(df[['X', 'Z']])
print("\n Type of the pair of columns: ", type(df[['X','Z']]), sep=' ')
print("\n So, for more than one column, the object turns into a DataFrame")

# Adding a new column 'V' with random values
df['V'] = np.random.random(5)
print("\n The DataFrame after adding a new column 'V' \n", '-'*50, sep=' ')
print(df)

# Adding a new column 'Constant' with a constant value
df['Constant'] = 1
print("\n The DataFrame after adding a column with a constant value \n", '-'*60, sep=' ')
print(df)

# Deleting the 'V' column
df = df.drop(columns=['V'])
print("\n The DataFrame after deleting the 'V' column \n", '-'*50, sep=' ')
print(df)

# Deleting the 'Constant' column
del df['Constant']
print("\n The DataFrame after deleting the 'Constant' column \n", '-'*50, sep=' ')
print(df)

# Adding a new row 'F' using loc
df.loc['F'] = [0.5, 0.5, 0.5, 0.5]
print("\n The DataFrame after adding a new row 'F' \n", '-'*50, sep=' ')
print(df)

# Adding a new row using concat
new_row = pd.DataFrame({'W': 0.6, 'X': 0.6, 'Y': 0.6, 'Z': 0.6}, index=['G'])
df = pd.concat([df, new_row])
print("\n The DataFrame after adding a new row 'G' using concat \n", '-'*50, sep=' ')
print(df)

# Deleting the row 'F'
df = df.drop(index='F')
print("\n The DataFrame after deleting the row 'F' \n", '-'*50, sep=' ')
print(df)

 The data frame looks like
 ---------------------------------------------
          W         X         Y         Z
A  0.516399  0.570668  0.028474  0.171522
B  0.685277  0.833897  0.306966  0.893613
C  0.721544  0.189939  0.554228  0.352132
D  0.181892  0.785602  0.965483  0.232354
E  0.083561  0.603548  0.728993  0.276239

 The 'X' column
 -------------------------
A    0.570668
B    0.833897
C    0.189939
D    0.785602
E    0.603548
Name: X, dtype: float64

 Type of the column:  <class 'pandas.core.series.Series'>

 The 'X' and 'Z' columns indexed by passing a list
 -------------------------------------------------------
          X         Z
A  0.570668  0.171522
B  0.833897  0.893613
C  0.189939  0.352132
D  0.785602  0.232354
E  0.603548  0.276239

 Type of the pair of columns:  <class 'pandas.core.frame.DataFrame'>

 So, for more than one column, the object turns into a DataFrame

 The DataFrame after adding a new column 'V'
 --------------------------------------------------
          W         X         Y         Z         V
A  0.516399  0.570668  0.028474  0.171522  0.685306
B  0.685277  0.833897  0.306966  0.893613  0.517867
C  0.721544  0.189939  0.554228  0.352132  0.048485
D  0.181892  0.785602  0.965483  0.232354  0.137869
E  0.083561  0.603548  0.728993  0.276239  0.186967

 The DataFrame after adding a column with a constant value
 ------------------------------------------------------------
          W         X         Y         Z         V  Constant
A  0.516399  0.570668  0.028474  0.171522  0.685306         1
B  0.685277  0.833897  0.306966  0.893613  0.517867         1
C  0.721544  0.189939  0.554228  0.352132  0.048485         1
D  0.181892  0.785602  0.965483  0.232354  0.137869         1
E  0.083561  0.603548  0.728993  0.276239  0.186967         1

 The DataFrame after deleting the 'V' column
 --------------------------------------------------
          W         X         Y         Z  Constant
A  0.516399  0.570668  0.028474  0.171522         1
B  0.685277  0.833897  0.306966  0.893613         1
C  0.721544  0.189939  0.554228  0.352132         1
D  0.181892  0.785602  0.965483  0.232354         1
E  0.083561  0.603548  0.728993  0.276239         1

 The DataFrame after deleting the 'Constant' column
 --------------------------------------------------
          W         X         Y         Z
A  0.516399  0.570668  0.028474  0.171522
B  0.685277  0.833897  0.306966  0.893613
C  0.721544  0.189939  0.554228  0.352132
D  0.181892  0.785602  0.965483  0.232354
E  0.083561  0.603548  0.728993  0.276239

 The DataFrame after adding a new row 'F'
 --------------------------------------------------
          W         X         Y         Z
A  0.516399  0.570668  0.028474  0.171522
B  0.685277  0.833897  0.306966  0.893613
C  0.721544  0.189939  0.554228  0.352132
D  0.181892  0.785602  0.965483  0.232354
E  0.083561  0.603548  0.728993  0.276239
F  0.500000  0.500000  0.500000  0.500000

 The DataFrame after adding a new row 'G' using concat
 --------------------------------------------------
          W         X         Y         Z
A  0.516399  0.570668  0.028474  0.171522
B  0.685277  0.833897  0.306966  0.893613
C  0.721544  0.189939  0.554228  0.352132
D  0.181892  0.785602  0.965483  0.232354
E  0.083561  0.603548  0.728993  0.276239
F  0.500000  0.500000  0.500000  0.500000
G  0.600000  0.600000  0.600000  0.600000

 The DataFrame after deleting the row 'F'
 --------------------------------------------------
          W         X         Y         Z
A  0.516399  0.570668  0.028474  0.171522
B  0.685277  0.833897  0.306966  0.893613
C  0.721544  0.189939  0.554228  0.352132
D  0.181892  0.785602  0.965483  0.232354
E  0.083561  0.603548  0.728993  0.276239
G  0.600000  0.600000  0.600000  0.600000

selecting/indexing rows

In [19]:
import numpy as np
import pandas as pd

np.random.seed(101)
matrix_data = np.random.random((5, 4))
row_labels = ['A', 'B', 'C', 'D', 'E']
column_headings = ['W', 'X', 'Y', 'Z']

df = pd.DataFrame(data=matrix_data, index=row_labels, columns=column_headings)

print("\n The data frame looks like \n", '-'*45, sep=' ')
print(df)

# Selecting a single row by index label using .loc
print("\nSelecting row 'A' using .loc\n", '-'*25, sep=' ')
print(df.loc['A'])

# Selecting multiple rows by index labels using .loc
print("\nSelecting rows 'A' and 'C' using .loc\n", '-'*35, sep=' ')
print(df.loc[['A', 'C']])

# Selecting a single row by index position using .iloc
print("\nSelecting the first row using .iloc\n", '-'*35, sep=' ')
print(df.iloc[0])

# Selecting multiple rows by index positions using .iloc
print("\nSelecting the first and third rows using .iloc\n", '-'*45, sep=' ')
print(df.iloc[[0, 2]])

# Selecting rows 'A' through 'C' using slicing with .loc
print("\nSelecting rows 'A' through 'C' using slicing with .loc\n", '-'*55, sep=' ')
print(df.loc['A':'C'])

# Selecting the first three rows using slicing with .iloc
print("\nSelecting the first three rows using slicing with .iloc\n", '-'*50, sep=' ')
print(df.iloc[0:3])

# Selecting rows where values in column 'W' are greater than 0.5
print("\nSelecting rows where values in column 'W' are greater than 0.5\n", '-'*55, sep=' ')
print(df[df['W'] > 0.5])

 The data frame looks like
 ---------------------------------------------
          W         X         Y         Z
A  0.516399  0.570668  0.028474  0.171522
B  0.685277  0.833897  0.306966  0.893613
C  0.721544  0.189939  0.554228  0.352132
D  0.181892  0.785602  0.965483  0.232354
E  0.083561  0.603548  0.728993  0.276239

Selecting row 'A' using .loc
 -------------------------
W    0.516399
X    0.570668
Y    0.028474
Z    0.171522
Name: A, dtype: float64

Selecting rows 'A' and 'C' using .loc
 -----------------------------------
          W         X         Y         Z
A  0.516399  0.570668  0.028474  0.171522
C  0.721544  0.189939  0.554228  0.352132

Selecting the first row using .iloc
 -----------------------------------
W    0.516399
X    0.570668
Y    0.028474
Z    0.171522
Name: A, dtype: float64

Selecting the first and third rows using .iloc
 ---------------------------------------------
          W         X         Y         Z
A  0.516399  0.570668  0.028474  0.171522
C  0.721544  0.189939  0.554228  0.352132

Selecting rows 'A' through 'C' using slicing with .loc
 -------------------------------------------------------
          W         X         Y         Z
A  0.516399  0.570668  0.028474  0.171522
B  0.685277  0.833897  0.306966  0.893613
C  0.721544  0.189939  0.554228  0.352132

Selecting the first three rows using slicing with .iloc
 --------------------------------------------------
          W         X         Y         Z
A  0.516399  0.570668  0.028474  0.171522
B  0.685277  0.833897  0.306966  0.893613
C  0.721544  0.189939  0.554228  0.352132

Selecting rows where values in column 'W' are greater than 0.5
 -------------------------------------------------------
          W         X         Y         Z
A  0.516399  0.570668  0.028474  0.171522
B  0.685277  0.833897  0.306966  0.893613
C  0.721544  0.189939  0.554228  0.352132

subsetting dataframe

In [20]:
import numpy as np
import pandas as pd

np.random.seed(101)
matrix_data = np.random.random((5, 4))
row_labels = ['A', 'B', 'C', 'D', 'E']
column_headings = ['W', 'X', 'Y', 'Z']

df = pd.DataFrame(data=matrix_data, index=row_labels, columns=column_headings)

print("\n The data frame looks like \n", '-'*45, sep=' ')
print(df)

# Selecting specific columns 'W' and 'X'
subset_columns = df[['W', 'X']]
print("\nSubsetting DataFrame to include columns 'W' and 'X'\n", '-'*50, sep=' ')
print(subset_columns)

# Selecting rows 'A' and 'B' and columns 'W' and 'X' using .loc
subset_loc = df.loc[['A', 'B'], ['W', 'X']]
print("\nSubsetting DataFrame to include rows 'A' and 'B' and columns 'W' and 'X'\n", '-'*70, sep=' ')
print(subset_loc)

# Selecting the first two rows and the first two columns using .iloc
subset_iloc = df.iloc[0:2, 0:2]
print("\nSubsetting DataFrame to include the first two rows and the first two columns\n", '-'*75, sep=' ')
print(subset_iloc)

# Subsetting rows where values in column 'W' are greater than 0.5
subset_condition = df[df['W'] > 0.5]
print("\nSubsetting DataFrame to include rows where values in column 'W' are greater than 0.5\n", '-'*70, sep=' ')
print(subset_condition)

# Subsetting rows where values in column 'W' are greater than 0.5 and selecting columns 'W' and 'X'
subset_combined = df.loc[df['W'] > 0.5, ['W', 'X']]
print("\nSubsetting DataFrame to include rows where values in column 'W' are greater than 0.5 and columns 'W' and 'X'\n", '-'*90, sep=' ')
print(subset_combined)

# Using query to subset rows where values in column 'W' are greater than 0.5
subset_query = df.query('W > 0.5')
print("\nSubsetting DataFrame using query to include rows where values in column 'W' are greater than 0.5\n", '-'*90, sep=' ')
print(subset_query)

 The data frame looks like
 ---------------------------------------------
          W         X         Y         Z
A  0.516399  0.570668  0.028474  0.171522
B  0.685277  0.833897  0.306966  0.893613
C  0.721544  0.189939  0.554228  0.352132
D  0.181892  0.785602  0.965483  0.232354
E  0.083561  0.603548  0.728993  0.276239

Subsetting DataFrame to include columns 'W' and 'X'
 --------------------------------------------------
          W         X
A  0.516399  0.570668
B  0.685277  0.833897
C  0.721544  0.189939
D  0.181892  0.785602
E  0.083561  0.603548

Subsetting DataFrame to include rows 'A' and 'B' and columns 'W' and 'X'
 ----------------------------------------------------------------------
          W         X
A  0.516399  0.570668
B  0.685277  0.833897

Subsetting DataFrame to include the first two rows and the first two columns
 ---------------------------------------------------------------------------
          W         X
A  0.516399  0.570668
B  0.685277  0.833897

Subsetting DataFrame to include rows where values in column 'W' are greater than 0.5
 ----------------------------------------------------------------------
          W         X         Y         Z
A  0.516399  0.570668  0.028474  0.171522
B  0.685277  0.833897  0.306966  0.893613
C  0.721544  0.189939  0.554228  0.352132

Subsetting DataFrame to include rows where values in column 'W' are greater than 0.5 and columns 'W' and 'X'
 ------------------------------------------------------------------------------------------
          W         X
A  0.516399  0.570668
B  0.685277  0.833897
C  0.721544  0.189939

Subsetting DataFrame using query to include rows where values in column 'W' are greater than 0.5
 ------------------------------------------------------------------------------------------
          W         X         Y         Z
A  0.516399  0.570668  0.028474  0.171522
B  0.685277  0.833897  0.306966  0.893613
C  0.721544  0.189939  0.554228  0.352132

conditional selection, index resetting, multi index
basic idea of conditional check and boolean dataframe

In [21]:
import numpy as np
import pandas as pd

np.random.seed(101)
matrix_data = np.random.random((5, 4))
row_labels = ['A', 'B', 'C', 'D', 'E']
column_headings = ['W', 'X', 'Y', 'Z']

df = pd.DataFrame(data=matrix_data, index=row_labels, columns=column_headings)
print("\nOriginal DataFrame\n", '-'*45, sep=' ')
print(df)

# Conditional Selection
condition = df['W'] > 0.5
print("\nCondition: df['W'] > 0.5\n", '-'*25, sep=' ')
print(condition)

subset_condition = df[condition]
print("\nDataFrame after conditional selection\n", '-'*45, sep=' ')
print(subset_condition)

# Resetting Index
reset_df = subset_condition.reset_index()
print("\nDataFrame after resetting index\n", '-'*45, sep=' ')
print(reset_df)

# MultiIndex DataFrame
arrays = [
    ['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'],
    ['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two']
]
index = pd.MultiIndex.from_arrays(arrays, names=['first', 'second'])
data = np.random.randn(8, 4)
multi_df = pd.DataFrame(data, index=index, columns=['A', 'B', 'C', 'D'])

print("\nMultiIndex DataFrame\n", '-'*45, sep=' ')
print(multi_df)

# Accessing Data in a MultiIndex DataFrame
print("\nSelecting row 'bar' and 'one' in MultiIndex DataFrame\n", '-'*45, sep=' ')
print(multi_df.loc[('bar', 'one')])

# Conditional Check and Boolean DataFrame
boolean_df = df > 0.5
print("\nBoolean DataFrame with values > 0.5\n", '-'*45, sep=' ')
print(boolean_df)

# Using boolean DataFrame to filter data
filtered_df = df[boolean_df]
print("\nFiltered DataFrame using boolean DataFrame\n", '-'*45, sep=' ')
print(filtered_df)

Original DataFrame
 ---------------------------------------------
          W         X         Y         Z
A  0.516399  0.570668  0.028474  0.171522
B  0.685277  0.833897  0.306966  0.893613
C  0.721544  0.189939  0.554228  0.352132
D  0.181892  0.785602  0.965483  0.232354
E  0.083561  0.603548  0.728993  0.276239

Condition: df['W'] > 0.5
 -------------------------
A     True
B     True
C     True
D    False
E    False
Name: W, dtype: bool

DataFrame after conditional selection
 ---------------------------------------------
          W         X         Y         Z
A  0.516399  0.570668  0.028474  0.171522
B  0.685277  0.833897  0.306966  0.893613
C  0.721544  0.189939  0.554228  0.352132

DataFrame after resetting index
 ---------------------------------------------
  index         W         X         Y         Z
0     A  0.516399  0.570668  0.028474  0.171522
1     B  0.685277  0.833897  0.306966  0.893613
2     C  0.721544  0.189939  0.554228  0.352132

MultiIndex DataFrame
 ---------------------------------------------
                     A         B         C         D
first second
bar   one     0.190794  1.978757  2.605967  0.683509
      two     0.302665  1.693723 -1.706086 -1.159119
baz   one    -0.134841  0.390528  0.166905  0.184502
      two     0.807706  0.072960  0.638787  0.329646
foo   one    -0.497104 -0.754070 -0.943406  0.484752
      two    -0.116773  1.901755  0.238127  1.996652
qux   one    -0.993263  0.196800 -1.136645  0.000366
      two     1.025984 -0.156598 -0.031579  0.649826

Selecting row 'bar' and 'one' in MultiIndex DataFrame
 ---------------------------------------------
A    0.190794
B    1.978757
C    2.605967
D    0.683509
Name: (bar, one), dtype: float64

Boolean DataFrame with values > 0.5
 ---------------------------------------------
       W      X      Y      Z
A   True   True  False  False
B   True   True  False   True
C   True  False   True  False
D  False   True   True  False
E  False   True   True  False

Filtered DataFrame using boolean DataFrame
 ---------------------------------------------
          W         X         Y         Z
A  0.516399  0.570668       NaN       NaN
B  0.685277  0.833897       NaN  0.893613
C  0.721544       NaN  0.554228       NaN
D       NaN  0.785602  0.965483       NaN
E       NaN  0.603548  0.728993       NaN

passing boolean series to conditionally subset the dataframe

In [22]:
import numpy as np
import pandas as pd

# Set random seed for reproducibility
np.random.seed(101)

# Create a DataFrame
matrix_data = np.random.random((5, 4))
row_labels = ['A', 'B', 'C', 'D', 'E']
column_headings = ['W', 'X', 'Y', 'Z']
df = pd.DataFrame(data=matrix_data, index=row_labels, columns=column_headings)

print("\nOriginal DataFrame\n", '-'*45, sep=' ')
print(df)

# Create a boolean series
condition_series = df['W'] > 0.5
print("\nBoolean Series for condition df['W'] > 0.5\n", '-'*45, sep=' ')
print(condition_series)

# Use the boolean series to subset the DataFrame
subset_df = df[condition_series]
print("\nDataFrame after applying boolean series\n", '-'*45, sep=' ')
print(subset_df)

# Create another boolean series
condition_series_2 = df['X'] < 0.6

# Combine conditions using & (and) or | (or) operators
combined_condition = condition_series & condition_series_2
print("\nCombined Boolean Series for conditions (df['W'] > 0.5) & (df['X'] < 0.6)\n", '-'*70, sep=' ')
print(combined_condition)

# Use the combined boolean series to subset the DataFrame
subset_combined_df = df[combined_condition]
print("\nDataFrame after applying combined boolean series\n", '-'*45, sep=' ')
print(subset_combined_df)

# Subset using .loc with a boolean series and selecting specific columns
subset_loc_df = df.loc[condition_series, ['W', 'X']]
print("\nSubset DataFrame using .loc with boolean series and selecting columns 'W' and 'X'\n", '-'*70, sep=' ')
print(subset_loc_df)

Original DataFrame
 ---------------------------------------------
          W         X         Y         Z
A  0.516399  0.570668  0.028474  0.171522
B  0.685277  0.833897  0.306966  0.893613
C  0.721544  0.189939  0.554228  0.352132
D  0.181892  0.785602  0.965483  0.232354
E  0.083561  0.603548  0.728993  0.276239

Boolean Series for condition df['W'] > 0.5
 ---------------------------------------------
A     True
B     True
C     True
D    False
E    False
Name: W, dtype: bool

DataFrame after applying boolean series
 ---------------------------------------------
          W         X         Y         Z
A  0.516399  0.570668  0.028474  0.171522
B  0.685277  0.833897  0.306966  0.893613
C  0.721544  0.189939  0.554228  0.352132

Combined Boolean Series for conditions (df['W'] > 0.5) & (df['X'] < 0.6)
 ----------------------------------------------------------------------
A     True
B    False
C     True
D    False
E    False
dtype: bool

DataFrame after applying combined boolean series
 ---------------------------------------------
          W         X         Y         Z
A  0.516399  0.570668  0.028474  0.171522
C  0.721544  0.189939  0.554228  0.352132

Subset DataFrame using .loc with boolean series and selecting columns 'W' and 'X'
 ----------------------------------------------------------------------
          W         X
A  0.516399  0.570668
B  0.685277  0.833897
C  0.721544  0.189939

mssing values

In [24]:
import numpy as np
import pandas as pd

# Create a DataFrame with missing values
data = {
    'A': [1, 2, np.nan, 4, 5],
    'B': [np.nan, 2, 3, 4, 5],
    'C': [1, 2, 3, np.nan, 5],
    'D': [1, 2, 3, 4, np.nan]
}
df = pd.DataFrame(data)

print("\nOriginal DataFrame with Missing Values\n", '-'*45, sep=' ')
print(df)

# Detecting Missing Values
print("\nDetecting Missing Values\n", '-'*25, sep=' ')
print(df.isnull())

# Count missing values in each column
print("\nCount of Missing Values in Each Column\n", '-'*35, sep=' ')
print(df.isnull().sum())

# Dropping Missing Values
df_dropna_rows = df.dropna()
print("\nDataFrame after Dropping Rows with Missing Values\n", '-'*45, sep=' ')
print(df_dropna_rows)

# Filling Missing Values with 0
df_fillna_value = df.fillna(0)
print("\nDataFrame after Filling Missing Values with 0\n", '-'*45, sep=' ')
print(df_fillna_value)

# Filling Missing Values with Mean of Each Column
df_fillna_mean = df.apply(lambda col: col.fillna(col.mean()))
print("\nDataFrame after Filling Missing Values with Mean of Each Column\n", '-'*45, sep=' ')
print(df_fillna_mean)

# Forward Fill Method
df_fillna_ffill = df.ffill()
print("\nDataFrame after Forward Fill Method\n", '-'*45, sep=' ')
print(df_fillna_ffill)

# Interpolating Missing Values
df_interpolate = df.interpolate()
print("\nDataFrame after Interpolating Missing Values\n", '-'*45, sep=' ')
print(df_interpolate)

Original DataFrame with Missing Values
 ---------------------------------------------
     A    B    C    D
0  1.0  NaN  1.0  1.0
1  2.0  2.0  2.0  2.0
2  NaN  3.0  3.0  3.0
3  4.0  4.0  NaN  4.0
4  5.0  5.0  5.0  NaN

Detecting Missing Values
 -------------------------
       A      B      C      D
0  False   True  False  False
1  False  False  False  False
2   True  False  False  False
3  False  False   True  False
4  False  False  False   True

Count of Missing Values in Each Column
 -----------------------------------
A    1
B    1
C    1
D    1
dtype: int64

DataFrame after Dropping Rows with Missing Values
 ---------------------------------------------
     A    B    C    D
1  2.0  2.0  2.0  2.0

DataFrame after Filling Missing Values with 0
 ---------------------------------------------
     A    B    C    D
0  1.0  0.0  1.0  1.0
1  2.0  2.0  2.0  2.0
2  0.0  3.0  3.0  3.0
3  4.0  4.0  0.0  4.0
4  5.0  5.0  5.0  0.0

DataFrame after Filling Missing Values with Mean of Each Column
 ---------------------------------------------
     A    B     C    D
0  1.0  3.5  1.00  1.0
1  2.0  2.0  2.00  2.0
2  3.0  3.0  3.00  3.0
3  4.0  4.0  2.75  4.0
4  5.0  5.0  5.00  2.5

DataFrame after Forward Fill Method
 ---------------------------------------------
     A    B    C    D
0  1.0  NaN  1.0  1.0
1  2.0  2.0  2.0  2.0
2  2.0  3.0  3.0  3.0
3  4.0  4.0  3.0  4.0
4  5.0  5.0  5.0  4.0

DataFrame after Interpolating Missing Values
 ---------------------------------------------
     A    B    C    D
0  1.0  NaN  1.0  1.0
1  2.0  2.0  2.0  2.0
2  3.0  3.0  3.0  3.0
3  4.0  4.0  4.0  4.0
4  5.0  5.0  5.0  4.0

GroupBy

In [25]:
import numpy as np
import pandas as pd

# Create a DataFrame with missing values and sample data
data = {
    'Category1': ['A', 'A', 'B', 'B', 'A', 'B'],
    'Category2': ['X', 'Y', 'X', 'Y', 'X', 'X'],
    'Value': [10, 20, 10, 30, 40, 50]
}
df = pd.DataFrame(data)

print("\nOriginal DataFrame\n", '-'*45, sep=' ')
print(df)

# Group by 'Category1' and calculate mean and sum of 'Value'
grouped_mean_sum = df.groupby('Category1').agg({'Value': ['mean', 'sum']})
print("\nGrouped Mean and Sum by Category1\n", '-'*45, sep=' ')
print(grouped_mean_sum)

# Group by 'Category1' and filter groups with sum of 'Value' greater than 50
filtered_groups = df.groupby('Category1').filter(lambda x: x['Value'].sum() > 50)
print("\nFiltered Groups where Sum of 'Value' > 50\n", '-'*45, sep=' ')
print(filtered_groups)

# Group by 'Category1' and 'Category2', then calculate sum of 'Value'
grouped_multi = df.groupby(['Category1', 'Category2']).sum()
print("\nGrouped Sum by Category1 and Category2\n", '-'*45, sep=' ')
print(grouped_multi)

Original DataFrame
 ---------------------------------------------
  Category1 Category2  Value
0         A         X     10
1         A         Y     20
2         B         X     10
3         B         Y     30
4         A         X     40
5         B         X     50

Grouped Mean and Sum by Category1
 ---------------------------------------------
               Value
                mean sum
Category1
A          23.333333  70
B          30.000000  90

Filtered Groups where Sum of 'Value' > 50
 ---------------------------------------------
  Category1 Category2  Value
0         A         X     10
1         A         Y     20
2         B         X     10
3         B         Y     30
4         A         X     40
5         B         X     50

Grouped Sum by Category1 and Category2
 ---------------------------------------------
                     Value
Category1 Category2
A         X             50
          Y             20
B         X             60
          Y             30

Merging, Joining, Concatenation

In [26]:
import pandas as pd

# Create sample DataFrames for merging, joining, and concatenation
df1 = pd.DataFrame({
    'Key': ['A', 'B', 'C', 'D'],
    'Value1': [1, 2, 3, 4]
})
df2 = pd.DataFrame({
    'Key': ['B', 'D', 'E', 'F'],
    'Value2': [5, 6, 7, 8]
})
df3 = pd.DataFrame({
    'Key': ['A', 'B', 'C', 'D'],
    'Value3': [9, 10, 11, 12]
})
df4 = pd.DataFrame({
    'Key': ['A', 'B', 'G', 'H'],
    'Value4': [13, 14, 15, 16]
})

print("\nOriginal DataFrames\n", '-'*45, sep=' ')
print("df1:\n", df1)
print("df2:\n", df2)
print("df3:\n", df3)
print("df4:\n", df4)

# Merging DataFrames on 'Key'
merged_df = pd.merge(df1, df2, on='Key', how='inner')
print("\nMerged DataFrame on 'Key' (inner join)\n", '-'*45, sep=' ')
print(merged_df)

# Joining DataFrames with indices
df1.set_index('Key', inplace=True)
df3.set_index('Key', inplace=True)
joined_df = df1.join(df3, how='left')
print("\nJoined DataFrame with df1 and df3 on index\n", '-'*45, sep=' ')
print(joined_df)

# Concatenating DataFrames vertically
concat_df = pd.concat([df1, df4.set_index('Key')], axis=0)
print("\nConcatenated DataFrame (vertical)\n", '-'*45, sep=' ')
print(concat_df)

# Concatenating DataFrames horizontally
concat_df_horizontal = pd.concat([df1.reset_index(), df4], axis=1)
print("\nConcatenated DataFrame (horizontal)\n", '-'*45, sep=' ')
print(concat_df_horizontal)

Original DataFrames
 ---------------------------------------------
df1:
   Key  Value1
0   A       1
1   B       2
2   C       3
3   D       4
df2:
   Key  Value2
0   B       5
1   D       6
2   E       7
3   F       8
df3:
   Key  Value3
0   A       9
1   B      10
2   C      11
3   D      12
df4:
   Key  Value4
0   A      13
1   B      14
2   G      15
3   H      16

Merged DataFrame on 'Key' (inner join)
 ---------------------------------------------
  Key  Value1  Value2
0   B       2       5
1   D       4       6

Joined DataFrame with df1 and df3 on index
 ---------------------------------------------
     Value1  Value3
Key
A         1       9
B         2      10
C         3      11
D         4      12

Concatenated DataFrame (vertical)
 ---------------------------------------------
     Value1  Value4
Key
A       1.0     NaN
B       2.0     NaN
C       3.0     NaN
D       4.0     NaN
A       NaN    13.0
B       NaN    14.0
G       NaN    15.0
H       NaN    16.0

Concatenated DataFrame (horizontal)
 ---------------------------------------------
  Key  Value1 Key  Value4
0   A       1   A      13
1   B       2   B      14
2   C       3   G      15
3   D       4   H      16

useful operations

In [27]:
import pandas as pd
import numpy as np

# Create sample DataFrames
df1 = pd.DataFrame({
    'Key': ['A', 'B', 'C', 'D'],
    'Value1': [1, 2, 3, 4]
})
df2 = pd.DataFrame({
    'Key': ['B', 'D', 'E', 'F'],
    'Value2': [5, 6, 7, 8]
})
df3 = pd.DataFrame({
    'Key': ['A', 'B', 'C', 'D'],
    'Value3': [9, 10, 11, 12]
})
df4 = pd.DataFrame({
    'Key': ['A', 'B', 'G', 'H'],
    'Value4': [13, 14, 15, 16]
})

# Operations
print("\nOriginal DataFrames\n", '-'*45, sep=' ')
print("df1:\n", df1)
print("df2:\n", df2)
print("df3:\n", df3)
print("df4:\n", df4)

# 1. Merging DataFrames on 'Key'
merged_df = pd.merge(df1, df2, on='Key', how='inner')
print("\nMerged DataFrame on 'Key' (inner join)\n", '-'*45, sep=' ')
print(merged_df)

# 2. Joining DataFrames with indices
df1.set_index('Key', inplace=True)
df3.set_index('Key', inplace=True)
joined_df = df1.join(df3, how='left')
print("\nJoined DataFrame with df1 and df3 on index\n", '-'*45, sep=' ')
print(joined_df)

# 3. Concatenating DataFrames vertically
concat_df = pd.concat([df1, df4.set_index('Key')], axis=0)
print("\nConcatenated DataFrame (vertical)\n", '-'*45, sep=' ')
print(concat_df)

# 4. Concatenating DataFrames horizontally
concat_df_horizontal = pd.concat([df1.reset_index(), df4], axis=1)
print("\nConcatenated DataFrame (horizontal)\n", '-'*45, sep=' ')
print(concat_df_horizontal)

# 5. Sorting by a Column
sorted_df = df1.reset_index().sort_values(by='Value1', ascending=False)
print("\nSorted DataFrame by 'Value1'\n", '-'*45, sep=' ')
print(sorted_df)

# 6. Filtering Rows
filtered_df = df1.reset_index().query('Value1 > 2')
print("\nFiltered DataFrame where 'Value1' > 2\n", '-'*45, sep=' ')
print(filtered_df)

# 7. GroupBy and Aggregation
grouped_df = df1.reset_index().groupby('Key').agg({'Value1': ['mean', 'sum']})
print("\nGrouped and Aggregated DataFrame\n", '-'*45, sep=' ')
print(grouped_df)

# 8. Handling Missing Values
df_missing = pd.DataFrame({'A': [1, np.nan, 3], 'B': [4, 5, np.nan]})
filled_df = df_missing.fillna(df_missing.mean())
print("\nDataFrame with Missing Values Filled with Mean\n", '-'*45, sep=' ')
print(filled_df)

Original DataFrames
 ---------------------------------------------
df1:
   Key  Value1
0   A       1
1   B       2
2   C       3
3   D       4
df2:
   Key  Value2
0   B       5
1   D       6
2   E       7
3   F       8
df3:
   Key  Value3
0   A       9
1   B      10
2   C      11
3   D      12
df4:
   Key  Value4
0   A      13
1   B      14
2   G      15
3   H      16

Merged DataFrame on 'Key' (inner join)
 ---------------------------------------------
  Key  Value1  Value2
0   B       2       5
1   D       4       6

Joined DataFrame with df1 and df3 on index
 ---------------------------------------------
     Value1  Value3
Key
A         1       9
B         2      10
C         3      11
D         4      12

Concatenated DataFrame (vertical)
 ---------------------------------------------
     Value1  Value4
Key
A       1.0     NaN
B       2.0     NaN
C       3.0     NaN
D       4.0     NaN
A       NaN    13.0
B       NaN    14.0
G       NaN    15.0
H       NaN    16.0

Concatenated DataFrame (horizontal)
 ---------------------------------------------
  Key  Value1 Key  Value4
0   A       1   A      13
1   B       2   B      14
2   C       3   G      15
3   D       4   H      16

Sorted DataFrame by 'Value1'
 ---------------------------------------------
  Key  Value1
3   D       4
2   C       3
1   B       2
0   A       1

Filtered DataFrame where 'Value1' > 2
 ---------------------------------------------
  Key  Value1
2   C       3
3   D       4

Grouped and Aggregated DataFrame
 ---------------------------------------------
    Value1
      mean sum
Key
A      1.0   1
B      2.0   2
C      3.0   3
D      4.0   4

DataFrame with Missing Values Filled with Mean
 ---------------------------------------------
     A    B
0  1.0  4.0
1  2.0  5.0
2  3.0  4.5

Functions

In [28]:
import pandas as pd
import numpy as np

# Create a sample DataFrame
df = pd.DataFrame({
    'A': [1, 2, 3, 4, 5],
    'B': [10, 20, 30, 40, 50],
    'C': [5, 4, 3, 2, 1]
})

print("\nOriginal DataFrame\n", '-'*45, sep=' ')
print(df)

# 1. Apply a function to each column
def add_ten(x):
    return x + 10

df_apply_col = df.apply(add_ten)
print("\nDataFrame after applying function to each column\n", '-'*45, sep=' ')
print(df_apply_col)

# 2. Apply a function to each row
def row_sum(row):
    return row.sum()

df_apply_row = df.apply(row_sum, axis=1)
print("\nSeries after applying function to each row\n", '-'*45, sep=' ')
print(df_apply_row)

# 3. Apply a lambda function to each element
df_apply_lambda = df.apply(lambda x: x * 2)
print("\nDataFrame after applying lambda function to each element\n", '-'*45, sep=' ')
print(df_apply_lambda)

# 4. Apply a function with additional arguments
def multiply(x, factor):
    return x * factor

df_apply_args = df.apply(multiply, factor=3)
print("\nDataFrame after applying function with additional arguments\n", '-'*45, sep=' ')
print(df_apply_args)

# 5. Apply function to DataFrame columns with axis=0
def max_min(x):
    return pd.Series({'max': x.max(), 'min': x.min()})

df_apply_func = df.apply(max_min, axis=0)
print("\nDataFrame after applying function to columns\n", '-'*45, sep=' ')
print(df_apply_func)

Original DataFrame
 ---------------------------------------------
   A   B  C
0  1  10  5
1  2  20  4
2  3  30  3
3  4  40  2
4  5  50  1

DataFrame after applying function to each column
 ---------------------------------------------
    A   B   C
0  11  20  15
1  12  30  14
2  13  40  13
3  14  50  12
4  15  60  11

Series after applying function to each row
 ---------------------------------------------
0    16
1    26
2    36
3    46
4    56
dtype: int64

DataFrame after applying lambda function to each element
 ---------------------------------------------
    A    B   C
0   2   20  10
1   4   40   8
2   6   60   6
3   8   80   4
4  10  100   2

DataFrame after applying function with additional arguments
 ---------------------------------------------
    A    B   C
0   3   30  15
1   6   60  12
2   9   90   9
3  12  120   6
4  15  150   3

DataFrame after applying function to columns
 ---------------------------------------------
     A   B  C
max  5  50  5
min  1  10  1

deletion, sorting, list of column and row names

In [29]:
import pandas as pd
import numpy as np

# Create a sample DataFrame
df = pd.DataFrame({
    'A': [1, 2, 3, 4, 5],
    'B': [10, 20, 30, 40, 50],
    'C': [5, 4, 3, 2, 1]
}, index=['row1', 'row2', 'row3', 'row4', 'row5'])

print("\nOriginal DataFrame\n", '-'*45, sep=' ')
print(df)

# 1. Deleting a Column
df_drop_col = df.drop(columns='B')
print("\nDataFrame after deleting column 'B'\n", '-'*45, sep=' ')
print(df_drop_col)

# 2. Deleting a Row
df_drop_row = df.drop(index='row3')
print("\nDataFrame after deleting row 'row3'\n", '-'*45, sep=' ')
print(df_drop_row)

# 3. Sorting by a Column
df_sorted = df.sort_values(by='A', ascending=False)
print("\nDataFrame sorted by column 'A'\n", '-'*45, sep=' ')
print(df_sorted)

# 4. Sorting by Index
df_sorted_index = df.sort_index(ascending=False)
print("\nDataFrame sorted by index in descending order\n", '-'*45, sep=' ')
print(df_sorted_index)

# 5. List of Column Names
column_names = df.columns.tolist()
print("\nList of Column Names\n", '-'*25, sep=' ')
print(column_names)

# 6. List of Row Names (Index)
row_names = df.index.tolist()
print("\nList of Row Names\n", '-'*25, sep=' ')
print(row_names)

Original DataFrame
 ---------------------------------------------
      A   B  C
row1  1  10  5
row2  2  20  4
row3  3  30  3
row4  4  40  2
row5  5  50  1

DataFrame after deleting column 'B'
 ---------------------------------------------
      A  C
row1  1  5
row2  2  4
row3  3  3
row4  4  2
row5  5  1

DataFrame after deleting row 'row3'
 ---------------------------------------------
      A   B  C
row1  1  10  5
row2  2  20  4
row4  4  40  2
row5  5  50  1

DataFrame sorted by column 'A'
 ---------------------------------------------
      A   B  C
row5  5  50  1
row4  4  40  2
row3  3  30  3
row2  2  20  4
row1  1  10  5

DataFrame sorted by index in descending order
 ---------------------------------------------
      A   B  C
row5  5  50  1
row4  4  40  2
row3  3  30  3
row2  2  20  4
row1  1  10  5

List of Column Names
 -------------------------
['A', 'B', 'C']

List of Row Names
 -------------------------
['row1', 'row2', 'row3', 'row4', 'row5']