In [15]:
import pandas as pd

In [16]:
# Generate 50 country names
countries = ['Country' + str(i) for i in range(1, 51)]

# Create data for 50 countries
data = {
    'COUNTRY': countries,
    'POP': [i * 1000000 for i in range(1, 51)],
    'AREA': [i * 10000 for i in range(1, 51)],
    'GDP': [i * 100000 for i in range(1, 51)],
    'CONT': ['Continent' + str((i % 5) + 1) for i in range(1, 51)],
    'IND_DAY': ['Day' + str(i) for i in range(1, 51)]
}

In [17]:
data

{'COUNTRY': ['Country1',
  'Country2',
  'Country3',
  'Country4',
  'Country5',
  'Country6',
  'Country7',
  'Country8',
  'Country9',
  'Country10',
  'Country11',
  'Country12',
  'Country13',
  'Country14',
  'Country15',
  'Country16',
  'Country17',
  'Country18',
  'Country19',
  'Country20',
  'Country21',
  'Country22',
  'Country23',
  'Country24',
  'Country25',
  'Country26',
  'Country27',
  'Country28',
  'Country29',
  'Country30',
  'Country31',
  'Country32',
  'Country33',
  'Country34',
  'Country35',
  'Country36',
  'Country37',
  'Country38',
  'Country39',
  'Country40',
  'Country41',
  'Country42',
  'Country43',
  'Country44',
  'Country45',
  'Country46',
  'Country47',
  'Country48',
  'Country49',
  'Country50'],
 'POP': [1000000,
  2000000,
  3000000,
  4000000,
  5000000,
  6000000,
  7000000,
  8000000,
  9000000,
  10000000,
  11000000,
  12000000,
  13000000,
  14000000,
  15000000,
  16000000,
  17000000,
  18000000,
  19000000,
  20000000,
  21000000,
  22000000,
  23000000,
  24000000,
  25000000,
  26000000,
  27000000,
  28000000,
  29000000,
  30000000,
  31000000,
  32000000,
  33000000,
  34000000,
  35000000,
  36000000,
  37000000,
  38000000,
  39000000,
  40000000,
  41000000,
  42000000,
  43000000,
  44000000,
  45000000,
  46000000,
  47000000,
  48000000,
  49000000,
  50000000],
 'AREA': [10000,
  20000,
  30000,
  40000,
  50000,
  60000,
  70000,
  80000,
  90000,
  100000,
  110000,
  120000,
  130000,
  140000,
  150000,
  160000,
  170000,
  180000,
  190000,
  200000,
  210000,
  220000,
  230000,
  240000,
  250000,
  260000,
  270000,
  280000,
  290000,
  300000,
  310000,
  320000,
  330000,
  340000,
  350000,
  360000,
  370000,
  380000,
  390000,
  400000,
  410000,
  420000,
  430000,
  440000,
  450000,
  460000,
  470000,
  480000,
  490000,
  500000],
 'GDP': [100000,
  200000,
  300000,
  400000,
  500000,
  600000,
  700000,
  800000,
  900000,
  1000000,
  1100000,
  1200000,
  1300000,
  1400000,
  1500000,
  1600000,
  1700000,
  1800000,
  1900000,
  2000000,
  2100000,
  2200000,
  2300000,
  2400000,
  2500000,
  2600000,
  2700000,
  2800000,
  2900000,
  3000000,
  3100000,
  3200000,
  3300000,
  3400000,
  3500000,
  3600000,
  3700000,
  3800000,
  3900000,
  4000000,
  4100000,
  4200000,
  4300000,
  4400000,
  4500000,
  4600000,
  4700000,
  4800000,
  4900000,
  5000000],
 'CONT': ['Continent2',
  'Continent3',
  'Continent4',
  'Continent5',
  'Continent1',
  'Continent2',
  'Continent3',
  'Continent4',
  'Continent5',
  'Continent1',
  'Continent2',
  'Continent3',
  'Continent4',
  'Continent5',
  'Continent1',
  'Continent2',
  'Continent3',
  'Continent4',
  'Continent5',
  'Continent1',
  'Continent2',
  'Continent3',
  'Continent4',
  'Continent5',
  'Continent1',
  'Continent2',
  'Continent3',
  'Continent4',
  'Continent5',
  'Continent1',
  'Continent2',
  'Continent3',
  'Continent4',
  'Continent5',
  'Continent1',
  'Continent2',
  'Continent3',
  'Continent4',
  'Continent5',
  'Continent1',
  'Continent2',
  'Continent3',
  'Continent4',
  'Continent5',
  'Continent1',
  'Continent2',
  'Continent3',
  'Continent4',
  'Continent5',
  'Continent1'],
 'IND_DAY': ['Day1',
  'Day2',
  'Day3',
  'Day4',
  'Day5',
  'Day6',
  'Day7',
  'Day8',
  'Day9',
  'Day10',
  'Day11',
  'Day12',
  'Day13',
  'Day14',
  'Day15',
  'Day16',
  'Day17',
  'Day18',
  'Day19',
  'Day20',
  'Day21',
  'Day22',
  'Day23',
  'Day24',
  'Day25',
  'Day26',
  'Day27',
  'Day28',
  'Day29',
  'Day30',
  'Day31',
  'Day32',
  'Day33',
  'Day34',
  'Day35',
  'Day36',
  'Day37',
  'Day38',
  'Day39',
  'Day40',
  'Day41',
  'Day42',
  'Day43',
  'Day44',
  'Day45',
  'Day46',
  'Day47',
  'Day48',
  'Day49',
  'Day50']}

In [18]:
df = pd.DataFrame(data = data).transpose()
df

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
COUNTRY,Country1,Country2,Country3,Country4,Country5,Country6,Country7,Country8,Country9,Country10,...,Country41,Country42,Country43,Country44,Country45,Country46,Country47,Country48,Country49,Country50
POP,1000000,2000000,3000000,4000000,5000000,6000000,7000000,8000000,9000000,10000000,...,41000000,42000000,43000000,44000000,45000000,46000000,47000000,48000000,49000000,50000000
AREA,10000,20000,30000,40000,50000,60000,70000,80000,90000,100000,...,410000,420000,430000,440000,450000,460000,470000,480000,490000,500000
GDP,100000,200000,300000,400000,500000,600000,700000,800000,900000,1000000,...,4100000,4200000,4300000,4400000,4500000,4600000,4700000,4800000,4900000,5000000
CONT,Continent2,Continent3,Continent4,Continent5,Continent1,Continent2,Continent3,Continent4,Continent5,Continent1,...,Continent2,Continent3,Continent4,Continent5,Continent1,Continent2,Continent3,Continent4,Continent5,Continent1
IND_DAY,Day1,Day2,Day3,Day4,Day5,Day6,Day7,Day8,Day9,Day10,...,Day41,Day42,Day43,Day44,Day45,Day46,Day47,Day48,Day49,Day50

In [21]:
df.to_csv('data.csv') #saving data as csv file

In [ ]:
data = p.